
#battle-area {
    background: url("../images/petranaki-arena.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#fight-information {
    background: url("../images/petranaki-arena.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#main-content{
    position: absolute;
    top: 40%;
}

h1 {
    color: black;
    text-shadow: 2px 2px 2px #ffff66;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText {
    0%   {  color: #f5f56e;   }
    69%  {  color: transparent; }
    70%  {  color: transparent; }
    99%  {  color: transparent; }
    100% {  color: #f5f56e;   }
}