
#battle-area {
    background: url("../images/petranaki-arena.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#fight-information {
    background: #000 url(https://cssanimation.rocks/demo/starwars/images/bg.jpg);

    color: darkred;
    /* color: darkblue; border: 1px solid blue;
    color: darkgreen; border: 1px solid green; 
    color: #590563; border: 1px solid purple;  */
}

#main-content{
    position: absolute;
    top: 40%;
}

h1 {
    color: black;
    text-shadow: 2px 2px 2px #ffff66;
}

.blinking{
    animation:blinkingText 3.0s infinite;
}
@keyframes blinkingText {
    0%   {  color: #f5f56e;   }
    69%  {  color: transparent; }
    70%  {  color: transparent; }
    99%  {  color: transparent; }
    100% {  color: #f5f56e;   }
}